@font-face {
  font-family: 'ArgentCF-Regular';
  src: url('../fonts/argent-cf.eot');
  src: url('../fonts/argent-cf.eot?#iefix') format('embedded-opentype'),
  url('../fonts/argent-cf.woff2') format('woff2'),
  url('../fonts/argent-cf.woff') format('woff'),
  url('../fonts/argent-cf.ttf') format('truetype'),
  url('../fonts/argent-cf.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArgentCF-Bold';
  src: url('../fonts/argent-cf-bold.eot');
  src: url('../fonts/argent-cf-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/argent-cf-bold.woff2') format('woff2'),
  url('../fonts/argent-cf-bold.woff') format('woff'),
  url('../fonts/argent-cf-bold.ttf') format('truetype'),
  url('../fonts/argent-cf-bold.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}