//Brand colors
$gray-100:   #f5f5f5 !default;
$gray-200:   #e9ecef !default;
$gray-300:   #dee2e6 !default;
$gray-400:   #bfbcb9 !default;
$gray-500:   #adb5bd !default;
$gray-600:   #666666 !default;
$gray-700:   #495057 !default;
$gray-800:   #343a40 !default;
$gray-900:   #212529 !default;
$black:      #000 !default;

$body-color:  $gray-600 !default;

$darkGreen:  #548000 !default;
$darkRed:    #fd5e2e !default;
$gold:       #a38a5a !default;
$gold-light: #e0d5c1 !default;
$gold-dark:  #9f8554 !default;
$brown:      #55504b !default;
$light-blue: #e6f3f7 !default;

//Main section colors:
$white:         #FFFFFF!default;
$alabaster:     #F0F0F0!default;
$havana-cream:  #FAF4E8!default;
$cerulean:      #007CAF!default;
$ceruleanDark:  #14688b!default;
$oxford-blue:   #003060!default;
$navy:          #013e79!default;
$spanish-gray:  #55504C!default;
$grass:         #8aa800 !default;
$orange:        #ff880a !default;


//Fonts Argent
$family-ArgentCF-Regular: 'ArgentCF-Regular', Helvetica, Arial, Sans-Serif;
$family-ArgentCF-Bold: 'ArgentCF-Bold', Helvetica, Arial, Sans-Serif;

