html,body {
	margin:0;
	padding:0; 
}

.main-header {
	background-color: #ddd;
	margin:0;
	padding: 0;
	& a {
		display: inline-block;
		padding:12px;
		text-decoration: none;
		color:#000;
		
		font-size: 20px;
	}
}

.main-footer {
	background-color: olive;
	p {
		text-transform: uppercase;
		line-height: 1;
		font-weight: 700;
		margin:0;
		text-align: center;
		padding: 12px; 
		font-size: 20px;
	}

}



