.text {
	border: 7px solid green;
	max-width: 900px;
	margin: 0 auto;
	font-size: 20px;
	margin-bottom: 24px;

}

ul {
	display: block;
	list-style: none;
	margin-bottom: 30px;
	
	li {
		margin:8px 0;
		padding:12px;
		font-size: 20px;
		color:#fff;
		transition: background 0.35s ease;
		cursor: pointer;
		text-align: center;
		background-color: #aaa;
		
	}
}